/* Header styles */
#custom-header,
#custom-header * {
  font-size: xx-large;
  font-weight: bold;
  background-color: #4c9f70; /* Background color */
  color: white !important; /* Text color, ensured with !important */
  padding: 40px;
  padding-top: 80px; /* Increase this value to push content down */
  padding-left: 380px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  text-align: left; /* Align text to the left */
  border-bottom: 2px solid #36614d;
}

/* Main content padding adjustment for fixed header */
body > div.main > div {
  padding-top: 75px; /* You might need to adjust the padding */
}

/* Footer styles */
#custom-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #4c9f70;
  color: white;
  text-align: center;
  padding: 1rem 0;
}
